# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Py junk
**__pycache__**
*.pyc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Text editor stuff
.idea

# Generated yaml (from synclet deploy)
*.generated.yaml

.synclet-dev-image-tag
.#*