# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Py junk
**__pycache__**
*.pyc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Text editor stuff
.idea

# Generated yaml (from synclet deploy)
*.generated.yaml

*~

.synclet-dev-image-tag
.#*

# goreleaser binaries
dist

# web dependencies
/web/node_modules
/web/.pnp
.pnp.js

# web testing
/web/coverage

# web production
/web/build

# web env/misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
