version: 2
jobs:
  build-linux:
    docker:
      - image: gcr.io/windmill-public-containers/tilt-ci
    working_directory: /go/src/github.com/windmilleng/tilt
    steps:
      - checkout
      - run: echo 'export PATH=~/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker
      - run: docker pull registry:2
      - run: make all
      - run: echo 'linting for improperly deferred EndPipeline calls (should be in closure): `defer func() { ...EndPipeline(err) }()`'; ! grep --include=\*.go -rn . -e '^[^/].*defer [^ ]*EndPipeline('

  build-macos:
    macos:
      xcode: "10.0.0"

    working_directory: ~/go/src/github.com/windmilleng/tilt
    steps:
      - checkout
      - restore_cache:
          keys:
            - homebrew_cache_v2
      - run: brew install go@1.10 # bump cache version when changing this
      - save_cache:
          paths:
            - /usr/local/Homebrew
          key: homebrew_cache_v2
      - run: echo 'export PATH="/usr/local/opt/go@1.10/bin:$PATH"' >> $BASH_ENV
      # We can't run the container tests on macos because nested
      # VMs don't work on circleci.
      - run: go test -tags 'skipcontainertests' ./...

workflows:
  version: 2
  build:
    # The linux job is cheaper than the others, so run that first.
    jobs:
      - build-linux
      - build-macos:
          requires:
            - build-linux
