version: 2.1
orbs:
  slack: circleci/slack@3.4.0
  shellcheck: circleci/shellcheck@2.2.2
  win: circleci/windows@2.2.0
  gcp-cli: circleci/gcp-cli@1.8.3
  kubernetes: circleci/kubernetes@0.9.1
  go: circleci/go@1.7.0
jobs:
  build-linux:
    resource_class: medium+
    docker:
      - image: gcr.io/windmill-public-containers/tilt-ci@sha256:2f11a26fc7401a7f0bea1c7d1bf8e5d6aaff846c5d344c1c69d2283430f07ad0
    # apiserver code generation scripts require being in GOPATH
    working_directory: /go/src/github.com/tilt-dev/tilt

    steps:
      - checkout
      - run: echo 'export PATH=~/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker:
          version: 20.10.6
      - run: docker pull registry:2
      - run: sudo mv /usr/bin/helm3 /usr/bin/helm
      - run: make lint
      - run: make test_install_version_check
      - run: make wire-check
      - run: ./scripts/check-codegen.sh
      - run: make test-go
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master

  build-js:
    docker:
      - image: cimg/node:16.8
    steps:
      - checkout
      - run: make check-js
      - run:
          name: Run jest with JUnit Reporter
          command: make test-js
          environment:
            JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
      - run: make test-storybook
      - store_test_results:
          path: web/reports/junit
      - slack/notify-on-failure:
          only_for_branches: master

  publish-assets:
    docker:
      - image: gcr.io/windmill-public-containers/tilt-ci@sha256:2f11a26fc7401a7f0bea1c7d1bf8e5d6aaff846c5d344c1c69d2283430f07ad0
    steps:
      - checkout
      - run: echo $GCLOUD_SERVICE_KEY > /tmp/gcloud-service-key.json
      - run: gcloud auth activate-service-account --key-file=/tmp/gcloud-service-key.json
      - run: ./scripts/upload-assets.py $CIRCLE_SHA1
      - slack/notify-on-failure:
          only_for_branches: master

  build-windows:
    executor:
      name: win/default
      size: "large"
    steps:
      - run: choco install make kustomize kubernetes-helm docker-compose
      - run: choco upgrade -y --allow-downgrade golang --version=1.17.2
      - run: go get -u gotest.tools/gotestsum
      - checkout
      - run: iex ./scripts/install-dc2.ps1
      # Check to make sure Windows binaries compile
      - run: go install -mod vendor ./cmd/tilt
      - run: make shorttestsum
      - run: iex ./scripts/install.ps1
      - store_test_results:
          path: test-results

  build-integration:
    resource_class: medium+
    docker:
      - image: gcr.io/windmill-public-containers/tilt-integration-ci@sha256:4102b3ffa97dfe23ff2c7835e2a501be7f770afcc53342960929cfadc878a2c9
    steps:
      - checkout
      - run: echo 'export PATH=/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker:
          version: 20.10.6
      - run: ctlptl create cluster kind --registry=ctlptl-registry && make integration
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master

  test-extensions:
    docker:
      - image: gcr.io/windmill-public-containers/tilt-extensions-ci@sha256:d5fcfd084e6f901eae7892f7eac5b7dace616a02c16e2f8311b24e4ac3e15ceb
    steps:
      - checkout
      - run: echo 'export PATH=/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker:
          version: 20.10.6
      - run: ctlptl create cluster kind --registry=ctlptl-registry && make install test-extensions
      - slack/notify-on-failure:
          only_for_branches: master

  build-macos:
    macos:
      xcode: "12.4.0"

    steps:
      - checkout
      - go/install:
          version: "1.17.2"
      - run: curl -fsSL "https://github.com/gotestyourself/gotestsum/releases/download/v1.7.0/gotestsum_1.7.0_darwin_amd64.tar.gz" | sudo tar -xz -C /usr/local/bin gotestsum
      # We can't run the container tests on macos because nested
      # VMs don't work on circleci.
      - run: mkdir -p test-results
      # Check to make sure binaries compile
      - run: go install -mod vendor ./cmd/tilt
      # Only run watch tests, because these are currently the only tests that are OS-specific.
      # In other Tilt tests, we mock out OS-specific components.
      - run: gotestsum --format standard-quiet --junitfile test-results/unit-tests.xml -- -mod vendor ./internal/watch/...
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master

  deploy-storybook:
    docker:
      - image: cimg/base:2020.01
    steps:
      - setup_remote_docker:
          version: 20.10.6
      - checkout
      - run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      - gcp-cli/install
      - gcp-cli/initialize
      - kubernetes/install-kubectl
      - run:
          name: Setup Kubernetes
          command: gcloud container clusters get-credentials windmill
      - run:
          name: Setup Docker Credentials
          command: gcloud auth configure-docker
      - run: ./configs/storybook/deploy.sh
      - slack/notify-on-failure:
          only_for_branches: master

  release:
    resource_class: medium+
    docker:
      - image: gcr.io/windmill-public-containers/tilt-releaser
    steps:
      - setup_remote_docker:
          version: 20.10.6
      - slack/notify:
          mentions: "nick"
          message: "A Tilt release has started!"
      - checkout
      - gcp-cli/install
      - gcp-cli/initialize
      - run:
          name: Setup Docker Credentials
          command: gcloud auth configure-docker
      - run: ./scripts/release-ci.sh
      - slack/status:
          mentions: "nick"

workflows:
  version: 2
  shellcheck:
    jobs:
      - shellcheck/check:
          dir: scripts
          exclude: SC2001

  build:
    # The linux job is cheaper than the others, so run that first.
    jobs:
      - build-linux
      - build-js:
          requires:
            - build-linux
      - build-macos:
          requires:
            - build-linux
      - build-integration:
          requires:
            - build-linux
      - test-extensions:
          requires:
            - build-linux
      - build-windows:
          requires:
            - build-linux
      - publish-assets:
          context: Tilt Deploy Context
          filters:
            branches:
              only: master
      - deploy-storybook:
          context: Tilt Deploy Context
          requires:
            - build-js
          filters:
            branches:
              only: master

  release:
    jobs:
      - release:
          context:
            - Tilt Slack Context
            - Tilt Release CLI Context
            - Tilt Docker Login Context
            - Tilt Cloud Login Context
            - Tilt Deploy Context
          filters:
            branches:
              only: never-release-on-a-branch
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+/
