version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/windmilleng/tilt
    steps:
      - checkout
      - setup_remote_docker
      - run: make lint
      - run: make verifyfmt
      - run: make test
