version: 2.1
orbs:
  slack: circleci/slack@3.4.0
  shellcheck: circleci/shellcheck@2.2.2
  win: circleci/windows@2.2.0
  gcp-cli: circleci/gcp-cli@1.8.3
  kubernetes: circleci/kubernetes@0.9.1
jobs:
  build-linux:
    resource_class: medium+
    docker:
      - image: gcr.io/windmill-public-containers/tilt-ci@sha256:1185c8fe8c863dc09552c5a52bb1b66c1e60e5eb6ef9a84c1408d6eed0473f5c
    # apiserver code generation scripts require being in GOPATH
    working_directory: /go/src/github.com/tilt-dev/tilt

    steps:
      - checkout
      - run: echo 'export PATH=~/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker:
          version: 20.10.6
      - run: docker pull registry:2
      - run: sudo mv /usr/bin/helm3 /usr/bin/helm
      - run: make lint
      - run: make test_install_version_check
      - run: make wire-check
      - run: ./scripts/check-codegen.sh
      - run: make test-go
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master
  helm2:
    docker:
      - image: gcr.io/windmill-public-containers/tilt-ci@sha256:1185c8fe8c863dc09552c5a52bb1b66c1e60e5eb6ef9a84c1408d6eed0473f5c
    steps:
      - checkout
      - run: sudo mv /usr/bin/helm2 /usr/bin/helm
      - run: make test-go-helm-only
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master

  build-js:
    docker:
      - image: cimg/node:16.8
    steps:
      - checkout
      - run: make check-js
      - run:
          name: Run jest with JUnit Reporter
          command: make test-js
          environment:
            JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
      - run: make test-storybook
      - store_test_results:
          path: web/reports/junit
      - slack/notify-on-failure:
          only_for_branches: master

  publish-assets:
    docker:
      - image: gcr.io/windmill-public-containers/tilt-ci@sha256:1185c8fe8c863dc09552c5a52bb1b66c1e60e5eb6ef9a84c1408d6eed0473f5c
    steps:
      - checkout
      - run: echo $GCLOUD_SERVICE_KEY > /tmp/gcloud-service-key.json
      - run: gcloud auth activate-service-account --key-file=/tmp/gcloud-service-key.json
      - run: ./scripts/upload-assets.py $CIRCLE_SHA1
      - slack/notify-on-failure:
          only_for_branches: master

  build-windows:
    executor:
      name: win/default
      size: "large"
    steps:
      - run: choco install make kustomize kubernetes-helm docker-compose
      - run: choco upgrade -y --allow-downgrade golang --version=1.17.2
      - run: go get -u gotest.tools/gotestsum
      - checkout
      # Check to make sure Windows binaries compile
      - run: go install -mod vendor ./cmd/tilt
      - run: make shorttestsum
      - run: iex ./scripts/install.ps1
      - store_test_results:
          path: test-results

  build-integration:
    resource_class: medium+
    docker:
      - image: gcr.io/windmill-public-containers/tilt-integration-ci@sha256:b0ca90fc2a1b957f46965d1e2c5e21fc335c4257ef1592177e8f32b99e94586b
    steps:
      - checkout
      - run: echo 'export PATH=/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker:
          version: 20.10.6
      - run: ctlptl create cluster kind --registry=ctlptl-registry && make integration
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master

  test-extensions:
    docker:
      - image: tiltdev/tilt-extensions-ci@sha256:e1990914dbfdd357ef880110faeb1eaa68bd85b7668a54f9b7aed8e098f83c0c
    steps:
      - checkout
      - run: echo 'export PATH=/go/bin:$PATH' >> $BASH_ENV
      - setup_remote_docker:
          version: 20.10.6
      - run: ctlptl create cluster kind --registry=ctlptl-registry && make install test-extensions
      - slack/notify-on-failure:
          only_for_branches: master

  build-macos:
    macos:
      xcode: "12.4.0"

    steps:
      - checkout
      - restore_cache:
          keys:
            - homebrew_cache_v15
      # Bump cache version when changing this.
      - run: echo 'export HOMEBREW_PACKAGES="go@1.17"' >> $BASH_ENV
      # Only update when brew doesn't know about some of the packages because:
      # 1) not worth the cost, and
      # 2) hits github in a way that leads to flakyness
      - run: brew info ${HOMEBREW_PACKAGES} || brew update || true
      - run: HOMEBREW_NO_AUTO_UPDATE=true brew install ${HOMEBREW_PACKAGES}
      - save_cache:
          paths:
            - /usr/local/Cellar
          key: homebrew_cache_v15
      - run: echo 'export PATH="/usr/local/opt/go@1.17/bin:$PATH"' >> $BASH_ENV
      - run: curl -fsSL "https://github.com/gotestyourself/gotestsum/releases/download/v0.3.3/gotestsum_0.3.3_darwin_amd64.tar.gz" | sudo tar -xz -C /usr/local/bin gotestsum
      # We can't run the container tests on macos because nested
      # VMs don't work on circleci.
      - run: mkdir -p test-results
      # Check to make sure binaries compile
      - run: go install -mod vendor ./cmd/tilt
      # Only run watch tests, because these are currently the only tests that are OS-specific.
      # In other Tilt tests, we mock out OS-specific components.
      - run: gotestsum --format standard-quiet --junitfile test-results/unit-tests.xml -- -mod vendor ./internal/watch/...
      - store_test_results:
          path: test-results
      - slack/notify-on-failure:
          only_for_branches: master

  deploy-storybook:
    docker:
      - image: cimg/base:2020.01
    steps:
      - setup_remote_docker:
          version: 20.10.6
      - checkout
      - run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      - gcp-cli/install
      - gcp-cli/initialize
      - kubernetes/install-kubectl
      - run:
          name: Setup Kubernetes
          command: gcloud container clusters get-credentials windmill
      - run:
          name: Setup Docker Credentials
          command: gcloud auth configure-docker
      - run: ./configs/storybook/deploy.sh
      - slack/notify-on-failure:
          only_for_branches: master

  release:
    resource_class: medium+
    docker:
      - image: gcr.io/windmill-public-containers/tilt-releaser
    steps:
      - setup_remote_docker:
          version: 20.10.6
      - slack/notify:
          mentions: "nick"
          message: "A Tilt release has started!"
      - checkout
      - gcp-cli/install
      - gcp-cli/initialize
      - run:
          name: Setup Docker Credentials
          command: gcloud auth configure-docker
      - run: ./scripts/release-ci.sh
      - slack/status:
          mentions: "nick"

workflows:
  version: 2
  shellcheck:
    jobs:
      - shellcheck/check:
          dir: scripts
          exclude: SC2001

  build:
    # The linux job is cheaper than the others, so run that first.
    jobs:
      - build-linux
      - helm2
      - build-js:
          requires:
            - build-linux
      - build-macos:
          requires:
            - build-linux
      - build-integration:
          requires:
            - build-linux
      - test-extensions:
          requires:
            - build-linux
      - build-windows:
          requires:
            - build-linux
      - publish-assets:
          context: Tilt Deploy Context
          filters:
            branches:
              only: master
      - deploy-storybook:
          context: Tilt Deploy Context
          requires:
            - build-js
          filters:
            branches:
              only: master

  release:
    jobs:
      - release:
          context:
            - Tilt Slack Context
            - Tilt Release CLI Context
            - Tilt Docker Login Context
            - Tilt Cloud Login Context
            - Tilt Deploy Context
          filters:
            branches:
              only: never-release-on-a-branch
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+/
