version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: onedc-web
    ports:
    # Use the host:port:container-port syntax to verify
    # https://github.com/tilt-dev/tilt/issues/5030
    - "0.0.0.0:31235:8000"
