@import "constants";

.AlertPane {
  padding: $spacing-unit / 2;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.AlertPane ul {
  list-style: none;
  width: 100%;
}
.AlertPane-item {
  position: relative;
}
.AlertPane-item > header {
  background-color: $color-gray;
  border: 1px solid $color-gray-light;
  display: flex;
  flex-direction: column;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.AlertPane-headerDiv {
  display: flex;
  justify-content: space-between;
}

.AlertPane-headerDiv span + span {
  margin-left: $spacing-unit / 2;
  border-left: 1px solid $color-gray-light;
  padding-left: $spacing-unit / 2;
}

.AlertPane-headerDiv-header {
  margin: 0;
  font-size: $font-size;
}

.AlertPane-item > section {
  background-color: $color-gray-dark;
  border-bottom-left-radius: $spacing-unit / 4;
  border-bottom-right-radius: $spacing-unit / 4;
  border-left: 1px solid $color-gray-light;
  border-right: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
  padding: $spacing-unit / 2;
  min-height: 2em;
}

.AlertPane-item + .AlertPane-item {
  margin-top: $spacing-unit;
}

// Hide all lines by default
.AlertPane-item code {
  display: none;
  white-space: pre-wrap;
}

// ...only show last few lines
.AlertPane-item code:nth-last-child(-n + 8) {
  display: inline;
  min-height: $spacing-unit / 2; // Respect blank lines
  height: auto;
  opacity: 1;
}

.AlertPane-dismissButton {
  position: absolute;
  right: $spacing-unit/2;
  bottom: $spacing-unit/2;
  align-content: center;
  background-color: $color-gray-dark;
  color: $color-blue;
  @include button-text;
  border: 1px solid $color-blue;
  border-radius: 5px;
  padding: $spacing-unit/3;
  min-width: $spacing-unit * 3;
  transition: background-color ease 0.3s;
}

.AlertPane-dismissButton:hover {
  background-color: $color-gray;
  cursor: pointer;
}