@import "constants";

.AnalyticsNudge {
  border-left: $sidebar-item solid #03c7d3;
  padding: $spacing-unit/4;
  border-bottom: 1px solid $color-gray-light;
}

.AnalyticsNudge-buttons {
  width: 100%;
  align-content: center;
}
