@import "constants";

.AnalyticsNudge {
  width: 100%;
  height: $analyticsNudge-height;
  background-color: $color-gray-darkest;
  color: $color-white;
  padding: $spacing-unit / 2;
  box-sizing: border-box;
  position: fixed;
  z-index: $z-analyticsNudge;
  border: 1px solid $color-gray-light;
  box-shadow: 0px 3px 10px 0px rgba($color-gray-dark, $translucent-ish);

  // by default, it's hidden
  display: none;
  pre {
    display: inline;
    font-weight: bold;
  }
}

.is-visible {
  display: block;
}

.AnalyticsNudge-buttons {
  align-content: center;
}

.AnalyticsNudge-err {
  margin: $spacing-unit;
  span {
    padding: $spacing-unit/2;
    color: $color-black;
    background: $color-gray-lightest;
  }
}
