@import "constants";

.AnalyticsNudge {
  padding: $spacing-unit/4;
  border: 1px solid $color-white;

  display: none;
}

.is-visible {
  display: block;
}

.AnalyticsNudge-buttons {
  align-content: center;
}
