$font-monospace: "Inconsolata", monospace;
$font-sans-serif: "Montserrat", sans-serif;
$font-size: 20px;
$font-size-large: 26px;
$font-size-small: 16px;
$font-size-icon: 24px;

$color-white: #ffffff;
$color-green: #20ba31;
$color-green-lightest: #70d37b;
$color-blue: #03c7d3;
$color-purple: #6378ba;
$color-red: #f6685c;
$color-pink: #ef5aa0;
$color-yellow: #fcb41e;
$color-grey: #9a9a9a;
$color-grey-light: #cacaca;
$color-grey-lightest: #f1f1f1;
$color-grey-dark: #606060;
$color-grey-darkest: #434343;
$color-red-light: #f99e97;
$color-blue-light: #5edbe3;
$color-blue-lightest: #98e8ed;
$color-green-light: #70d37b;
$color-navy: #002f39;
$color-navy-dark: #002125;
$color-navy-light: #30545c;

$spacing-unit: 32px;
$sidebar-width: $spacing-unit * 10;
$sidebar-collapsed-width: $spacing-unit * 1.5;
$sidebar-item: $spacing-unit * 1.5;
$sidebar-maxWidth: 25vw;
$statusbar-height: $spacing-unit * 1.75;

$animation-timing: 200ms;

@mixin button-text() {
  font-family: $font-sans-serif;
  line-height: 1;
  font-size: $font-size-small;
  text-transform: uppercase;
}
