$font-family: 'Courier New', Courier, monospace;
$font-size: 20px;
$font-size-small: 16px;

$color-green: #20BA31;
$color-green-lightest: #70D37B;
$color-blue: #03C7D3;
$color-purple: #6378BA;
$color-red: #F6685C;
$color-pink: #EF5AA0;
$color-yellow: #FCB41E;
$color-grey: #9a9a9a;
$color-grey-light: #cacaca;
$color-grey-lightest: #f1f1f1;
$color-grey-dark: #606060;
$color-grey-darkest: #434343;
$color-red-light: #F99E97;
$color-blue-light: #5EDBE3;
$color-blue-lightest: #98E8ED;
$color-green-light: #70D37B;
$opacity-light: 0.64;