@import "constants";

.ErrorPane {
  margin-top: $tabnav-height;
  margin-right: $sidebar-width;
  margin-bottom: $statusbar-height;
  padding: $spacing-unit;
  width: 100%;
}

.ErrorPane ul {
  list-style: none;
}

.ErrorPane-item {
  background-color: $color-gray-dark;
  border: 1px dotted $color-gray-light;
  padding: $spacing-unit;
  border-radius: $spacing-unit / 4;
}

.ErrorPane-item + .ErrorPane-item {
  margin-top: $spacing-unit;
}

// Hide all lines by default
.ErrorPane-item code {
  display: block;
  white-space: pre-wrap;
  height: 0;
  opacity: 0;
}

// ...only show last few lines
.ErrorPane-item code:nth-last-child(-n + 8) {
  min-height: $spacing-unit / 2; // Respect blank lines
  height: auto;
  opacity: 1;
}
