@import "constants";

.FacetsPane {
  padding: $spacing-unit / 2;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.FacetsPane ul {
  list-style: none;
  width: 100%;
}
.FacetsPane-item {
  position: relative;
}
.FacetsPane-item > header {
  background-color: $color-gray;
  border: 1px solid $color-gray-light;
  display: flex;
  flex-direction: column;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.FacetsPane-headerDiv {
  display: flex;
  justify-content: space-between;
}

.FacetsPane-headerDiv span + span {
  margin-left: $spacing-unit / 2;
  border-left: 1px solid $color-gray-light;
  padding-left: $spacing-unit / 2;
}

.FacetsPane-headerDiv h3 {
  margin: 0;
  font-size: $font-size;
}

.FacetsPane-item > section {
  background-color: $color-gray-dark;
  border-bottom-left-radius: $spacing-unit / 4;
  border-bottom-right-radius: $spacing-unit / 4;
  border-left: 1px solid $color-gray-light;
  border-right: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;
  padding: $spacing-unit / 2;
  min-height: 2em;
}

.FacetsPane-item + .FacetsPane-item {
  margin-top: $spacing-unit;
}

.FacetsPane-item code {
  white-space: pre-wrap;
  min-height: $spacing-unit / 2; // Respect blank lines
  height: auto;
}