@import "constants";

.HUD {
  display: flex;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

.HUD.is-snapshot * {
  animation: none !important;
}

.Pane-empty-message {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pane-empty-message svg {
  opacity: $translucent-ish;
}

.Pane-empty-message h2 {
  margin-top: $spacing-unit / 2;
  font-family: $font-sans-serif;
  font-size: $font-size;
  color: $color-gray-lightest;
}

.Pane-empty-message p {
  text-align: left;
  color: $color-gray-lightest;
}

