@import "constants.scss";

html {
  width: 100%;
  height: 100%;
  color-scheme: dark;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-monospace;
  background-color: $color-gray-20;
  color: $color-white;
  font-size: $font-size;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

code {
  font-family: $font-monospace;
  cursor: text;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

.MuiTypography-body1 {
  font-family: inherit !important;
  font-size: inherit !important;
}
