@import "constants";

.LoadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: $sidebar-width;
  bottom: $statusbar-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size-large;
}
