@import "constants.scss";

.LogApp {
  margin: 1em 1.5em;
  font-size: $font-size-small;
  margin-top: 4em;
}
@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}
.logEnd {
  animation: blink 1s infinite;
  animation-timing-function: ease;
}
.LogApp-header {
  font-size: $font-size;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5em 1em;
  width: 100%;
  background-color: $color-grey-darkest;
  border-bottom: 1px solid white;
}
.LogApp-title {
  display: block;
  margin-right: 1em;
  padding-top: 7px;
}
.LogApp-select {
  display: inline-block;
  min-width: 10em;
}