@import "constants.scss";

.LogoButton {
  background: transparent;
  border: 0;
  display: block;
  margin: 0 $spacing-unit / 2 0 0;
  cursor: pointer;
}
.u-fillGreen {
  fill: $color-green !important;
}
.u-fillGreenLightest {
  fill: $color-green-lightest !important;
}
.LogoButton .notch {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
}
.LogoButton .notch--1 {
  transition-delay: 0.1s;
  transform: translate(568.0799865722656px, 30.780078895390034px) rotate(0deg) translate(-568.0799865722656px, -30.780078895390034px);
}
.LogoButton:hover .notch--1 {
  transform: translate(568.0799865722656px, 30.780078895390034px) rotate(90deg) translate(-568.0799865722656px, -30.780078895390034px);
}
.LogoButton .notch--2 {
  transition-delay: 0.06s;
  transform: translate(31.439985513687134px, 30.77007481828332px) rotate(0deg) translate(-31.439985513687134px, -30.77007481828332px);
}
.LogoButton:hover .notch--2 {
  transform: translate(31.439985513687134px, 30.77007481828332px) rotate(-90deg) translate(-31.439985513687134px, -30.77007481828332px);
}
.LogoButton .notch--3 {
  transition-delay: 0.13s;
  transform: translate(238.06499481201172px, 30.77007481828332px) rotate(0deg) translate(-238.06499481201172px, -30.77007481828332px);
}
.LogoButton:hover .notch--3 {
  transform: translate(238.06499481201172px, 30.77007481828332px) rotate(90deg) translate(-238.06499481201172px, -30.77007481828332px);;
}
.LogoButton .notch--4 {
  transition-delay: 0.03s;
  transform: translate(405.0400085449219px, 169.33999633789062px) rotate(0deg) translate(-405.0400085449219px, -169.33999633789062px);
}
.LogoButton:hover .notch--4 {
  transform: translate(405.0400085449219px, 169.33999633789062px) rotate(-90deg) translate(-405.0400085449219px, -169.33999633789062px);
}