@import "constants.scss";

.LogPane {
  width: calc(100% - #{$sidebar-width});
  margin-top: $tabnav-height + $resourceInfo-height;
  margin-right: $sidebar-width;
  margin-bottom: $statusbar-height;
  transition: margin ease $animation-timing;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logEnd {
  animation: blink 1s infinite;
  animation-timing-function: ease;
  padding-left: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}

.LogPane--expanded {
  width: calc(100% - #{$sidebar-collapsed-width});
}

.LogPane-empty {
  margin: 0;
}

.LogPane .logLine {
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.LogPane code {
  display: block;
  white-space: pre-wrap;
  min-height: $spacing-unit / 2; // Respect blank lines
}

.LogPane ::selection {
  background-color: rgba($color-blue, $translucent);
}

.LogPane .highlighted {
  background-color: rgba($color-blue, $translucent);
}


// Log Colors

.ansi-black {
  color: $color-black;
}
.ansi-red {
  color: $color-red;
}
.ansi-green {
  color: $color-green;
}
.ansi-yellow {
  color: $color-yellow;
}
.ansi-blue {
  color: $color-blue;
}
.ansi-magenta {
  color: $color-purple;
}
.ansi-cyan {
  color: $color-blue-light;
}
.ansi-white {
  color: $color-white;
}
