@import "constants.scss";

.LogPane {
  width: 100%;
  margin-top: $tabnav-height;
  margin-right: $sidebar-width;
  margin-bottom: $statusbar-height;
  padding: $spacing-unit / 2;
  transition: margin ease $animation-timing;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logEnd {
  animation: blink 1s infinite;
  animation-timing-function: ease;
}

.LogPane--expanded {
  margin-right: $sidebar-collapsed-width;
}

.LogPane-empty {
  margin: 0;
}

.LogPane code {
  display: block;
  white-space: pre-wrap;
}

.ansi-black {
  color: $color-gray-dark;
}
.ansi-red {
  color: $color-red;
}
.ansi-green {
  color: $color-green;
}
.ansi-yellow {
  color: $color-yellow;
}
.ansi-blue {
  color: $color-blue;
}
.ansi-magenta {
  color: $color-purple;
}
.ansi-cyan {
  color: $color-blue-light;
}
.ansi-white {
  color: $color-white;
}
