@import "constants.scss";

.LogPane {
  width: 100%;
  margin-right: $sidebar-width;
  margin-bottom: $statusbar-height;
  padding: $spacing-unit / 2;
  transition: margin ease $animation-timing;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logEnd {
  animation: blink 1s infinite;
  animation-timing-function: ease;
}

.LogPane--expanded {
  margin-right: $sidebar-collapsed-width;
}

.LogPane-empty {
  margin: 0;
}

.LogPane code {
  white-space: pre-wrap;
}
