@import "constants";

.PreviewList {
  margin-top: $tabnav-height;
  margin-right: $sidebar-width;
  margin-bottom: $statusbar-height;
  padding: $spacing-unit;
  width: 100%;
}

.PreviewList--empty {
  display: flex;
  justify-content: center;
}

.PreviewList ul {
  list-style: none;
  display: grid;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $spacing-unit;
}

.PreviewList-link {
  display: flex;
  border: 2px solid rgba($color-gray-light, $translucent-ish);
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: $font-sans-serif;
  background-color: $color-gray;
  border-radius: $spacing-unit / 4;
  text-decoration: none;
  box-shadow: 2px 2px 1px 1px rgba($color-gray-darkest, $translucent);
}

.PreviewList-link:hover {
  background-color: rgba($color-gray-light, $translucent);
}
