@import "constants";

.PreviewPane {
  width: 100%;
  margin-top: $tabnav-height;
  margin-right: $sidebar-width;
  margin-bottom: $statusbar-height;
  background-color: $color-white;
  transition: margin ease $animation-timing;
}

.PreviewPane-empty {
  color: $color-white;
  background-color: transparent;
  padding: $spacing-unit / 2;
  display: flex;
  justify-content: center;
}

.PreviewPane--expanded {
  margin-right: $sidebar-collapsed-width;
}

.PreviewPane iframe {
  border: 0 none;
  width: 100%;
  margin-right: $sidebar-width;
  height: 100%;
}
