.resources * {
  box-sizing: border-box;
}

.resources {
  height: 95vh;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.headings {
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
}

.headings p {
  flex: 1 0 10%;
}

.headings p.name {
  flex: 1 0 10%;
}

.resources ul {
  margin: 0;
  padding: 0;
}

li.resource {
  display: flex;
  flex-wrap: nowrap;
}

li.resource p {
  flex: 1 0 10%;
}
