@import "constants.scss";

.resources {
  height: 95vh;
  font-size: $font-size;
  line-height: 1.6;
  font-family: $font-family;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.headings {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-flow: row wrap;
}

.cell, .column-header {
  flex: 1 0 10%;
}

.resources ul {
  margin: 0;
  padding: 0;
}

li.resource {
  display: flex;
  flex-wrap: nowrap;
}

li.resource p {
  flex: 1 0 10%;
}
