.ResourceList {
  margin: 1em;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
}

.ResourceList-header {
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ResourceList ul {
  margin: 0;
  padding: 0;
}

.Resource-lhsCell {
  flex-basis: 10em;
  text-align: left;
}

.Resource-rhsCell {
  flex-basis: 10em;
  padding-right: 0.5em;
  text-align: right;
}

.Resource-spacerCell {
  flex-grow: 1;
}

.ResourceSummary {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
