@import "constants";
@import "ReactModal";

.ShareSnapshotModal {
  width: 736px;
}
.ShareSnapshotModal-pane {
  display: flex;
  font-size: $font-size;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  padding-left: $spacing-unit * 3;
  padding-right: $spacing-unit * 3;
}
.ShareSnapshotModal-pane + .ShareSnapshotModal-pane {
  border-top: 2px dotted $color-gray-light;
}

.ShareSnapshotModal-title {
  margin: 0;
  font-family: $font-sans-serif;
  font-size: $font-size-small;
  text-transform: uppercase;
  background-color: $color-gray-light;
  color: $color-white;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}
.ShareSnapshotModal-description {
  font-weight: 700;
}
.ShareSnapshotModal-intro {
  display: flex;
  margin-top: $spacing-unit;
}
.ShareSnapshotModal-introImage {
  width: 200px;
}
.ShareSnapshotModal-examples {
  margin-left: $spacing-unit * 1.5;
}
.ShareSnapshotModal-examples > li {
  margin-bottom: $spacing-unit / 4;
}
.ShareSnapshotModal-getStarted {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: $spacing-unit * -2;
}

.ShareSnapshotModal-shareLink {
  display: flex;
  margin-top: $spacing-unit * 0.75;
  margin-bottom: $spacing-unit / 4;
}

.ShareSnapshotModal-shareLink-urlBox {
  background-color: rgba($color-gray-lightest, $translucent);
  border: 1px solid $color-gray-lightest;
  padding-top: $spacing-unit / 6;
  padding-bottom: $spacing-unit / 6;
  padding-left: $spacing-unit / 3;
  padding-right: $spacing-unit / 3;
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ShareSnapshotModal-shareLink-url {
  user-select: all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ShareSnapshotModal-shareLink-placeholder {
  color: $color-gray-lightest;
}
.ShareSnapshotModal-button {
  cursor: pointer;
  font-family: $font-sans-serif;
  text-transform: uppercase;
  color: $color-white;
  border: 0;
  padding-top: $spacing-unit / 3;
  padding-bottom: $spacing-unit / 3;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  text-decoration: none;
  transition: background-color 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShareSnapshotModal-button--inline {
  font-size: $font-size-smallest;
  background-color: $color-gray-dark;
  min-width: 95px;
  box-sizing: border-box;
}
.ShareSnapshotModal-button--inline:hover {
  background-color: $color-gray-light;
}
.ShareSnapshotModal-button--cta {
  font-size: $font-size-small;
  background-color: $color-blue-light;
  box-shadow: -$spacing-unit / 6 $spacing-unit / 6 0 2px $color-gray-dark;
  margin-left: $spacing-unit;
}
.ShareSnapshotModal-button--cta:hover {
  background-color: $color-blue;
}
.ShareSnapshotModal-loginState {
  margin-top: $spacing-unit / 2;
}