@import 'constants';

.Sidebar {
  width: $sidebar-width;
  max-width: $sidebar-maxWidth;
  margin-left: $spacing-unit;
  border-left: 2px solid $color-navy-light;
  box-sizing: border-box;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: $statusbar-height;
  right: 0;
  z-index: 900;
  background-color: $color-navy;
  transform: translateX(0%);
  transition: transform ease-out 200ms;
  font-size: $font-size;
}
.Sidebar.is-closed {
  transform: translateX(calc(100% - #{$spacing-unit} * 1.5));
  transition: transform ease-in 200ms;
}
.Sidebar-header {
  color: $color-navy-light;
  font-size: $font-size;
  font-weight: normal;
  margin: $spacing-unit / 2;
}
.Sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-navy-light;
}

.Sidebar-toggle {
  position: sticky;
  bottom: 0;
  background-color: $color-navy;
  border: 0 none;
  border-top: 1px solid $color-navy-light;
  width: 100%;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  height: $sidebar-item;
  margin: 0;
  padding: 0;
}

.Sidebar-toggle svg {
  fill: $color-white;
  width: $spacing-unit * 1.5;
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.Sidebar.is-closed .Sidebar-toggle svg {
  transform: rotate(0);
}

.resLink {
  background-color: $color-navy;
  border-top: 1px solid $color-navy-light;
  color: $color-white;
  transition: background-color 200ms ease, color 200ms ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: $sidebar-item;
}

.resLink.is-selected,
.resLink:hover {
  background-color: $color-navy-dark;
  color: $color-blue-light;
}

.resLink::before {
  content: "●";
  width: $spacing-unit * 1.5;
  text-align: center;
}

.resLink--all::before {
  content: "";
  padding-right: $spacing-unit / 4;
}
.resLink--ok::before {
  color: $color-green;
}
.resLink--ok::before {
  color: $color-green;
}
.resLink--pending::before {
  color: $color-yellow;
}
.resLink--error::before {
  color: $color-red;
}
