@import "constants";

.SidebarTriggerButton {
  background-position: center center;
  background-repeat: no-repeat;
  /* background-image: url(assets/svg/trigger-button-disabled.svg); */
  background-color: transparent;
  border: 0 none;
  height: $sidebar-item;
  width: $sidebar-item;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SidebarTriggerButton.isReady {
  background-color: $color-gray-light;
  -webkit-mask: url(assets/svg/trigger-button.svg) no-repeat 50% 50%;
  mask: url(assets/svg/trigger-button.svg) no-repeat 50% 50%;

  cursor: pointer;
}

.SidebarTriggerButton.isReady:hover {
  background-color: $color-white;
}

.SidebarTriggerButton.isReady:active {
  background-color: $color-green;
}

/* the resource containing the button is selected*/
.SidebarTriggerButton.isReady.isSelected {
  background-color: $color-gray-dark;
}

.SidebarTriggerButton.isReady.isSelected:hover {
  background-color: $color-purple; // I can't find a good color where the hover contrast is enough
}

.SidebarTriggerButton.isReady.isSelected:active {
  background-color: $color-green;
}

