@import "constants";

.SidebarTriggerButton {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(assets/svg/trigger-button-disabled.svg);
  background-color: transparent;
  border: 0 none;
  height: $sidebar-item;
  width: $sidebar-item;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SidebarTriggerButton.isReady {
  background-image: url(assets/svg/trigger-button.svg);
  cursor: pointer;
}

.SidebarTriggerButton.isReady:active {
  background-image: url(assets/svg/trigger-button-down.svg);
}

.SidebarTriggerButton.isReady.isSelected {
  background-image: url(assets/svg/trigger-button-inverted.svg);
}

.SidebarTriggerButton.isReady.isSelected:active {
  background-image: url(assets/svg/trigger-button-inverted-down.svg);
}
