@import "constants";

.Sidebar {
  background-color: $color-navy;
  border-left: 2px solid $color-navy-light;
  width: $sidebar-width;
  max-width: $sidebar-maxWidth;
  box-sizing: border-box;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  z-index: 900;
  bottom: $statusbar-height;
  transform: translateX(0%);
  transition: transform ease-out 200ms;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
}
.Sidebar.is-closed {
  transform: translateX(calc(100% - #{$spacing-unit} * 1.5));
  transition: transform ease-in 200ms;
}

// Resource Views
.Sidebar-view {
  background-color: $color-navy-dark;
  display: flex;
}
.viewLink {
  box-sizing: border-box;
  height: $sidebar-item * 1.5;
  flex: 1 0 50%;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $color-navy-light;
}
.viewLink + .viewLink {
  border-left: 2px solid $color-navy-light;
}
.viewLink--is-selected {
  background-color: $color-navy;
  border-bottom: none;
}

// Resource List
.Sidebar-resources {
  flex: 1 0 auto;
}
.Sidebar-header {
  color: $color-navy-light;
  font-size: $font-size;
  font-weight: normal;
  margin: $spacing-unit / 2;
}
.Sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Sidebar-toggle {
  position: sticky;
  bottom: 0;
  background-color: $color-navy;
  border: 0 none;
  border-top: 1px solid $color-navy-light;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  height: $sidebar-item;
  line-height: $sidebar-item;
  margin: 0;
  padding: 0;
}

.resLink {
  background-color: $color-navy;
  border-bottom: 1px solid $color-navy-light;
  color: $color-white;
  transition: color $animation-timing ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: $sidebar-item;
}
.resLink:hover {
  background-color: $color-navy-dark;
  color: $color-blue-light;
}
.resLink.is-selected {
  background-color: $color-white;
  color: $color-navy;
}
.resLink::before {
  content: "●";
  width: $spacing-unit * 1.5;
  text-align: center;
}
.resLink--all::before {
  content: "";
}
.resLink--ok::before {
  color: $color-green;
}
.resLink--ok::before {
  color: $color-green;
}
.resLink--pending::before {
  color: $color-yellow;
}
.resLink--error::before {
  color: $color-red;
}

// Collapse/Expand
.Sidebar-toggle svg {
  fill: $color-white;
  width: $spacing-unit * 1.5;
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.Sidebar.is-closed .Sidebar-toggle svg {
  transform: rotate(0);
}
