@import "constants";

.Sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: $statusbar-height;
  width: $sidebar-width;
  background-color: $color-gray;
  border-left: 1px solid rgba($color-white, $translucent-ish);
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateX(0%);
  transition: transform ease $animation-timing;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
  z-index: $z-sidebar;
  box-shadow: -2px 0px 10px 0px rgba($color-gray-dark, $translucent);
}
.Sidebar.is-closed {
  transform: translateX(calc(100% - #{$sidebar-collapsed-width}));
}

// Resource List
.Sidebar-resources {
  flex: 1 0 auto;
  font-weight: bold;
}
.Sidebar-list {
  list-style: none;
}

.resLink {
  right: 0;
  border-bottom: 1px solid $color-gray-light;
  color: $color-white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: $sidebar-item;
  transition-property: color, background-color;
  transition-duration: $animation-timing;
  transition-timing-function: ease;
}
.resLink:hover {
  right: 0;
  background-color: $color-gray-dark;
  color: $color-blue-light;
}
.resLink.is-selected {
  right: 0;
  background-color: $color-white;
  color: $color-gray;
}

.resLink--building {
  background: repeating-linear-gradient(
    225deg,
    rgba($color-gray-light, $translucent),
    rgba($color-gray-light, $translucent) 1px,
    rgba(0, 0, 0, 0) 1px,
    rgba(0, 0, 0, 0) 6px
  );
  background-size: 200% 200%;
  animation: barberpole 8s linear infinite;
}

.resLink--all::before {
  content: "┌";
  color: $color-gray-light;
  margin-top: $spacing-unit / 4; // Visually center
  width: $sidebar-item;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resLink--all-name {
  text-transform: uppercase;
  flex: 1;
}

.sidebarIcon {
  width: $sidebar-item;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resLink-name {
  flex: 1 0 auto;
}

.resLink-alertBadge {
  font-family: $font-sans-serif;
  font-size: $font-size-smallest;
  background-color: $color-white;
  color: $color-gray-darkest;
  border-radius: $alert-badge;
  width: $alert-badge;
  height: $alert-badge;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $spacing-unit / 2;
}

.resLink.is-selected .resLink-alertBadge {
  background-color: $color-gray-darkest;
  color: $color-white;
}

.resLink-timeAgo {
  font-weight: normal;
  color: $color-gray-lightest;
  margin-right: $spacing-unit / 2;
}

// Collapse/Expand
.Sidebar-spacer {
  flex-grow: 1;
  height: 0;
}

.Sidebar-toggle {
  background-color: $color-gray;
  border: 0 none;
  border-top: 1px solid $color-gray-light;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-height: $sidebar-item;
  margin: 0;
  padding: 0;
  @include button-text;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: $animation-timing;
  transition-timing-function: ease;
}
.Sidebar-toggle:hover {
  background-color: $color-gray-dark;
  color: $color-blue-light;
}
.Sidebar-toggle > svg {
  fill: $color-white;
  width: $spacing-unit * 1.5;
  transition: transform $animation-timing ease-in, fill $animation-timing ease;
}
.Sidebar-toggle:hover > svg {
  fill: $color-blue-light;
}
.Sidebar.is-closed .Sidebar-toggle > svg {
  transform: rotate(180deg);
}

// Animations
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    fill-opacity: $translucent;
  }
  50% {
    fill-opacity: $translucent-ish;
  }
  100% {
    fill-opacity: $translucent;
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
