@import "constants";

.Statusbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-sidebar;
  height: $statusbar-height;
  background-color: $color-white;
  color: $color-gray;
  display: flex;
  align-items: stretch;
  border-top: 1px solid $color-gray-darkest;
  border-bottom: 1px solid $color-gray-darkest;
  box-sizing: border-box;
}

.Statusbar-panel {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.Statusbar-panel + .Statusbar-panel {
  border-left: 1px dashed $color-gray-lightest;
}

// Errors and Warnings
.err-warn {
  display: flex;
  align-items: stretch;
}
.err-warn-item {
  display: flex;
  align-items: center;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  // Eyeball to make them the same width, and not change size when contents update
  min-width: $spacing-unit * 3.5;
}
.err-warn-item + .err-warn-item {
  border-left: 1px solid rgba($color-gray-lightest, $translucent);
}
.err-warn .count {
  font-weight: bold;
}
.err-warn .icon {
  fill: $color-gray-lightest;
  opacity: $translucent;
  margin-right: $spacing-unit / 3;
  filter: drop-shadow(-1px 1px 0px rgba($color-gray-darkest, $translucent-ish));
}
.err-warn .icon--error {
  fill: $color-red;
  opacity: 1;
  filter: none;
}
.err-warn .icon--warning {
  color: $color-yellow;
  opacity: 1;
  filter: none;
}

// Status Message
.statusMsg {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.statusMsg-item--last-edit .label {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: bold;
  color: $color-gray-lightest;
  margin-right: $spacing-unit / 4;
}

// Progress
.progress {
  width: $sidebar-width;
  max-width: $sidebar-maxWidth;
  justify-content: space-between;
  display: flex;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}
.progress .current {
  font-weight: bold;
}
