@import "constants";

.Statusbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-sidebar;
  height: $statusbar-height;
  color: $color-navy;
  background-color: $color-grey-lightest;
  display: flex;
  align-items: center;
  border-top: 1px solid $color-navy-dark;
}
.Statusbar-panel {
  padding: $spacing-unit / 4 $spacing-unit / 2;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  height: 100%;
  min-width: $spacing-unit * 3;
}
.Statusbar-panel .icon {
  font-size: $font-size-icon;
}
.Statusbar-panel--error .icon {
  color: $color-red;
}
.Statusbar-panel--warning .icon {
  color: $color-yellow;
  margin-top: -5px;
}
.Statusbar-panel--spacer {
  flex-grow: 1;
}
.Statusbar-panel--up {
  width: $sidebar-width;
  max-width: $sidebar-maxWidth;
  justify-content: flex-end;
}
.Statusbar-panel--up .icon {
  margin-left: $spacing-unit / 2;
  width: $spacing-unit;
  height: $spacing-unit;
}
