.status {
    font-family: 'Courier New', Courier, monospace;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.status section + section {
    margin-left: 2em;
}

.status button {
    margin-left: 2em;
}