@import "constants";

.TabNav ul {
  list-style: none;
  display: flex;
}

.TabNav ul li:last-child {
  border-right: 1px solid $color-gray;
}

.TabNav ul li + li {
  border-left: 1px solid $color-gray;
}

.tabLink {
  box-sizing: border-box;
  height: $tabnav-height;
  flex: 0 0 auto;
  width: $tabnav-width;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: $animation-timing;
  transition-timing-function: ease;
  @include button-text;
}

.tabLink:hover {
  color: $color-blue-light;
}

.tabLink--is-selected {
  right: 0;
  background-color: $color-gray-dark;
  color: $color-white;
  border-bottom: none;
}

.tabLink-alertBadge {
  font-family: $font-sans-serif;
  font-size: $font-size-smallest;
  background-color: $color-white;
  color: $color-gray-darkest;
  width: $alert-badge;
  height: $alert-badge;
  border-radius: $alert-badge;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacing-unit / 3;
}
