@import "constants";

.TabNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: $sidebar-width;
  background-color: $color-gray-darkest;
  box-shadow: inset 0px -2px 10px 0px rgba($color-black, $translucent);
  z-index: $z-tabnav;
  color: $color-gray-light;
}

.TabNav ul {
  list-style: none;
  display: flex;
}

.TabNav ul li:last-child {
  border-right: 1px solid $color-gray;
}

.TabNav ul li + li {
  border-left: 1px solid $color-gray;
}

.TabNav span#TabNav-container {
  float: left;
}

.TabNav span#sail-url {
  float: right;
}
.tabLink {
  box-sizing: border-box;
  height: $tabnav-height;
  flex: 0 0 auto;
  min-width: 10em;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: $animation-timing;
  transition-timing-function: ease;
  @include button-text;
}

.tabLink:hover {
  color: $color-blue-light;
}

.tabLink--is-selected {
  right: 0;
  background-color: $color-gray-dark;
  color: $color-white;
  border-bottom: none;
}
