@import "constants";

.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: $sidebar-width;
  background-color: $color-gray-darkest;
  box-shadow: inset 0px -2px 10px 0px rgba($color-black, $translucent);
  z-index: $z-topBar;
  color: $color-gray-light;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.TopBar-tools {
  flex: 1;
  display: flex;
  margin-left: $spacing-unit / 2;
  margin-right: $spacing-unit / 2;
  justify-content: flex-end;
}

.TopBar-snapshotButton {
  border: 1px solid transparent;
  font-family: $font-sans-serif;
  font-size: $font-size-smallest;
  background-color: transparent;
  color: $color-blue;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  transition: border-color;
  transition-duration: $animation-timing;
}
.TopBar-snapshotButton:hover {
  cursor: pointer;
  background-color: $color-gray-dark;
  border-color: $color-blue-light;
}
.TopBar-snapshotButton span {
  text-align: left;
}
.TopBar-snapshotButton.isHighlighted {
  border-color: $color-blue-light;
}
.TopBar-snapshotSvg {
  width: 18px;
  height: auto;
  margin-right: $spacing-unit / 3;
}
.TopBar-snapshotOwner {
  font-family: $font-sans-serif;
  font-size: $font-size-small;
  color: $color-gray-lightest;
  margin-right: $spacing-unit / 2;
}
