@import "constants";

.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: $sidebar-width;
  background-color: $color-gray-darkest;
  box-shadow: inset 0px -2px 10px 0px rgba($color-black, $translucent);
  z-index: $z-topBar;
  color: $color-gray-light;

  display: flex;
  flex-direction: row;
  align-items: center;
}

// Collapse/Expand
.TopBar-spacer {
  flex-grow: 1;
  height: 0;
}
.TopBar-headerDiv-snapshotURL {
  flex: 1;
  display: flex;
  margin-left: $spacing-unit * 15;
  justify-content: flex-end;
}
.TopBar-headerDiv-snapshotURL button {
  background-color: transparent;
  border: 1px solid rgba($color-white, $translucent-ish);
  color: $color-white;
  text-transform: uppercase;
}

.AlertPane-headerDiv-snapshotURL button:hover {
  background-color: $color-gray-dark;
}
