@import "constants";

.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: $sidebar-width;
  background-color: $color-gray-darkest;
  box-shadow: inset 0px -2px 10px 0px rgba($color-black, $translucent);
  z-index: $z-topBar;
  color: $color-gray-light;

  display: flex;
  flex-direction: row;
  align-items: center;
}

// Collapse/Expand
.TopBar-spacer {
  flex-grow: 1;
  height: 0;
}
