{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
